@use 'variables' as *;


@use 'mixins';
@use 'header';
@use 'navbar';
@use 'footer';
@use 'hero';
@use 'features';
@use 'steps';
@use 'promo-section';
@use 'grid';
@use 'banner';



body {
  font-family: $font-family;
  color: $text-color;
  background-color: $background-color;
  margin: 0;
  padding: 0;
}

