{{define "navbar"}}
<header class="navbar">
  <div class="navbar-container">
    <!-- Logotipo -->
    <div class="navbar-logo">
      <img src="/static/images/logo.webp" alt="Logotipo" class="navbar-logo">
    </div>

    <!-- Menú de Navegación -->
    <nav class="navbar-links">
      <a href="#inicio">Inicio</a>
      <a href="#ofertas">Ofertas</a>
      <a href="#beneficios">Beneficios</a>
      <a href="#contacto">Contacto</a>
    </nav>

    <!-- Información de Contacto -->
    <div class="navbar-contact">
      <div class="contact-item">
        <p><strong>Llama gratis</strong> <span>y contrata:</span></p>
        <a href="tel:919033493" class="phone-number">919 023 65156</a>
      </div>
    </div>
  </div>
</header>
{{end}}
