{{define "navbar"}}
<header class="navbar">
  <div class="navbar-container">
    <!-- Logotipo -->
    <div class="navbar-logo">
      <img src="/static/images/logo.webp" alt="Logotipo" class="navbar-logo">
    </div>

    <!-- Menú de Navegación -->
    <nav class="navbar-links">
      <a href="#inicio">Inicio</a>
      <a href="#ofertas">Ofertas</a>
      <a href="#beneficios">Beneficios</a>
      <a href="#contacto">Contacto</a>
    </nav>

    <!-- Información de Contacto -->
    <div class="navbar-contact">
      <div class="contact-item">
        <p>Llama gratis <span>y contrata</span></p>
        <a href="tel:919033493">919 02365156</a>
      </div>
      <div class="contact-item">
        <p>Llama gratis si ya eres <span>cliente</span></p>
        <a href="tel:911234900">911 123456</a>
      </div>
    </div>
  </div>
</header>
{{end}}
