{{define "steps"}}
<section id="pasos" class="steps">
    <h2>¿Cómo funciona?</h2>
    <div class="steps-container">
      <div class="step-card">
        <div class="step-number">1</div>
        <h3>Rellena tus datos</h3>
        <p>Ten a mano tu documento de identidad. Usaremos tu dirección para acceder a tu CUPS (el DNI de tu hogar).</p>
      </div>
      <div class="step-card">
        <div class="step-number">2</div>
        <h3>Tu cuenta bancaria</h3>
        <p>Así, podemos domiciliar tus facturas a esa cuenta. No te preocupes, más tarde podrás cambiarlas.</p>
      </div>
      <div class="step-card">
        <div class="step-number">3</div>
        <h3>Firma y listo</h3>
        <p>Firma el contrato y ¡proceso terminado! En un plazo de 1 a 5 días, estarás disfrutando de nuestro suministro.</p>
      </div>
    </div>
  </section>
{{end}}
  